td {
  white-space: unset !important;
}
@media screen and (max-width: 726px) {
  td {
    white-space: nowrap !important;
  }
}
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
